<div class="example">
  <form #classform="ngForm" (ngSubmit)="saveClass(classform)">
    <h3>Class Details</h3>
    <table>
      <tbody>
        <tr>
          <td>Department:</td>
          <td>
            <input maxlength="4" minlength="4" name="department" required="" type="text" value={{class.department}}>
          </td>
        </tr>
        <tr>
          <td>Number:</td>
          <td>
            <input max="999" min="100" name="number" required="" type="number" value={{class.number}}>
          </td>
        </tr>
        <tr>
          <td>Title:</td>
          <td>
            <input name="title" required="" type="text" value={{class.title}}>
          </td>
        </tr>
        <tr>
          <td>Teacher:</td>
          <td>
            <select name="teacher" required="">
              <option *ngFor="let teacher of teachers">
                {{teacher.firstname}} {{teacher.lastname}}
              </option>
            </select>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: right">
            <input style="margin-right: 3em;" value="Delete" type="button" (click)="deleteClass()">
            <input value="Cancel" type="button">
            <input value="Save" type="submit" (click)="saveClass()">
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
